/* App {      
    text-align: center;      
  }      
  .navheader{      
    margin-top: 10px;      
    color :rgb(231, 125, 125) !important;    
    
    background-color: #b3beca!important      
  }    
    
  .PageHeading      
  {      
    margin-top: 10px;      
    margin-bottom: 10px;      
    color :rgb(177, 159, 159) !important;      
  }   */
  
  body {
    background-color: #a9bfec;
    color: rgb(44, 39, 39);
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }
  ul {
    list-style-type: none;

   
  }